<% if @bookings.count.zero? %>
  <p>You do not have any requests!</p>
<% else %>
<% @bookings.each do |booking| %>
  <div class="card mb-5 d-flex flex-row my-5" style="height: 18rem; overflow: hidden;">
    <div class="card-image border m-2">
      <%= cl_image_tag booking.book.photo.key, class: "h-100 w-100", style: "object-fit: contain;" %>
    </div>
    <div class="card-body w-70">
      <h3><strong></strong><%= booking.book.title %></h3>
      <p><strong>By </strong><%= booking.book.author %></p>
      <br>
      <div class="d-flex justify-content-between">
        <div>
          <p><strong>Start Date: </strong><%= booking.start_date %></p>
          <p><strong>Return Date: </strong><%= booking.end_date %></p>
          <p><strong>Price per day: </strong><%= booking.book.price %></p>
          <p><strong>Owner: </strong><%= booking.book.user.first_name %> <%= booking.book.user.last_name %></p>
        </div>
        <div class="align-self-end">
          <%= link_to "Accept Request", "#" %>
          <%= link_to "Decline Request", "#" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
