  <div class="banner text-center">
    <h2>Books, books,  <span data-controller="typed">books</span></h2>
    <%= link_to "Browse all books",  books_path, class:'btn btn-success' %>
  </div>

  <div class="header">
    <h2> Books of the Week</h2>
  </div>
  <div class="cards-wrapper">
      <% @books.each do |book| %>
        <div class="card-product">
          <%= cl_image_tag book.photo.key, alt: "Picture of book cover"%>
          <div class="card-product-infos">
            <h2><%= book.title %></h2>
            <p>By <%= book.author %></p>
            <br>
            <div class="general-info-and-button">
              <div class="general-info">
                <p><strong>Genre: </strong><%= book.genre %></p>
                <p><strong>Price per day: </strong>£<%= book.price %></p>
                <p><strong>Owner: </strong><%= book.user.first_name %> <%= book.user.last_name %></p>
              </div>
              <div class="general-info-btn">
                <%= link_to "See more", book_path(book) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
