<div class="row">
  <div class="col-lg-6 p-5">
    <h1><%= @book.title %></h1>
    <div class="d-flex justify-content-start align-items-center">
      <%= cl_image_tag @book.photo.key, class: "my-5", crop: :fill, width: '280', height: '430' %>
      <br>
    </div>
    <div class="my-2">
      <strong>Author:</strong> <%= @book.author %>
      <br>
      <strong>Genre:</strong> <%= @book.genre %>
      <br>
      <strong>Price per day: </strong>£ <%= format('%.2f', @book.price) %>
      <br>
      <strong>Owner: </strong> <%= @book.user.first_name %> <%= @book.user.last_name %>
      <br><br>
    </div>
    <strong>Summary: </strong>
    <br>
    <%= @book.summary %>
    <br><br>
  </div>
  <div class="col-lg-6 p-5">
    <div class="container bg-white shadow-sm p-3">
      <% if @book.user.first_name === current_user.first_name %>
         <div class="book-card-actions">
          <%= link_to "Edit Book", edit_book_path(@book), class: " btn-warning" %>
          <%= link_to "Remove Book", book_path(@book),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@book.author}'s book?"}, class: 'btn-danger' %>
          </div>
         <% else %>
        <h2 class="pb-5 text-center">Rent this book</h2>
      <%= simple_form_for [@book, @booking] do |f| %>
        <%= f.input :start_date, as: :date, start_year: Date.today.year,
                    end_year: Date.today.year + 12,
                    order: [:day, :month, :year] %>
        <%= f.input :end_date, as: :date, start_year: Date.today.year,
                    end_year: Date.today.year + 12,
                    order: [:day, :month, :year] %>
        <%= f.submit "Request this book", class: "btn-black" %>
      <% end %>
      <p>Total Price <%= format('%.2f', @book.price) %> </p>
      <%# <p> days <%= "#{booking_end_date_3i}.value" - "#{booking_start_date_3i}.value"%>
   <% end %>
    </div>

    </div>
  </div>
</div>

<div class="row">
      <div class="col-12 col-sm-6">
      <h2>Reviews</h2>
      <% if @book.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this book</em></small>
      <% end %>
      <% @book.reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="far fa-star"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0 text-solid"><%= review.content %></p>
        </div>
        <hr>
      <% end %>
      </div>
      <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h2 class="text-center">Add your review</h2>
        <%= simple_form_for [@book, @review] do |f| %>
          <%= f.input :content, placeholder: "Add your review here..." %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "star-rating" } } %>
          <%= f.submit class:"btn-black" %>
        <% end %>
      </div>
      </div>
  </div>
